<main><h1>Bienvenidos</h1>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
    dolorum mollitia exercitationem officia voluptate nam quo officiis
    praesentium illo numquam provident minus, animi nobis! Facere, alias illo.
    Odit, dolores illo. Voluptates non consectetur labore fugit eos. Quae velit
    illo cupiditate vel explicabo, unde excepturi quos tempora inventore
    recusandae facilis dolore nobis laudantium beatae officiis quidem
    consequuntur a ea? Magni, sit. Deleniti earum quaerat quia nulla eligendi
    consequuntur, aliquid nisi officiis veniam ex perferendis culpa sed
    consectetur aspernatur autem, ab unde magni soluta ipsa laboriosam
    distinctio rerum eum! Praesentium, quae quod. Nam qui nesciunt vel pariatur
    repellendus dolores, reiciendis commodi dolorum at fugiat repudiandae
    placeat explicabo ullam, dignissimos incidunt voluptatum delectus mollitia
    aperiam cum et quia, voluptas illo? Provident, iusto dolor!</p>
  <h2>{{date}}</h2>
  {{#each products}}
    <h3>{{this}}</h3>
  {{/each}}
</main>